.advantages-item {
  background-color: @gray-color;
  background-image: url(../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center 130px;
  background-size: 330px;
}

.advantages-item__advantages-list {
  .set-list(0; 0; none)
}

.advantages__title {
  color: @black-color;
}

.advantages__description {
  font: inherit;
}
