.advantages-item {
  position: relative;
  background-color: @gray-color;
  background-image: url(../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center 650px;
  background-size: 150px;
  min-height: 850px;
  width: 320px;
  padding: 180px 30px 300px 30px;
  margin-bottom: 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

.advantages-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  background-color: @gray-color;
}

.advantages-item__advantages-list {
  .set-list(0; 0; none)
}

.advantages__title {
  color: @black-color;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.advantages__description {
  font: inherit;
  color: @bg-standart-color;
  text-align: center;
}

.advantages__container {
  width: 320px;
  margin: 0 auto;
  background-color: red;
}

@media(min-width: @mobile-width) {
  .advantages-item__advantages-list {
    display: flex;
    flex-direction: column;
  }
}



