.attachment-effect {
  display: none;
}

@media (min-width: @tablet-width) {
  .attachment-effect {
    position: relative;
    display: block;
    min-height: 300px;
  }

  .attachment-effect__text {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: @black-color;
  }

  .attachment-effect__description {
    font-size: 14px;
    line-height: 24px;
    color: @bg-standart-color;
  }

  .attachment-effect__container {
    display: flex;
    width: 620px;
    margin: 0 auto;
  }

  .attachment-effect__content {
    width: 310px;
    text-align: left;
    margin-left: auto;
  }

  .attachment-effect__content a {
    color: @pink-color;
  }

  .attachment-effect__clock {
    background-image: url(../img/icon-timer.svg);
    background-repeat: no-repeat;
    background-position: left top;
    width: 238px;
    height: 276px;
  }

  .attachment-effect__clock::before {
    content: "";
    position: absolute;
    top: 56px;
    left: 38px;
    border: 14px solid @pink-color;
    border-radius: 50%;
    width: 175px;
    height: 175px;
  }

  .attachment-effect__clock::after {
    content: "24";
    position: absolute;
    top: 140px;
    left: 85px;
    font-size: 100px;
    font-weight: 700;
    color: @pink-color;
  }
}

@media (min-width: @desktop-width) {
  .attachment-effect {
    width: 960px;
  }
}
