@media (min-width: @tablet-width) {
  .attachment-effect__text {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: @black-color;
  }
}

@media (min-width: @tablet-width) {
  .attachment-effect__description {
    font-size: 14px;
    line-height: 24px;
    color: @bg-standart-color;
  }
}

@media (min-width: @tablet-width) {
  .attachment-effect__container {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .attachment-effect__block {
    width: 310px;
    text-align: left;
    margin-left: auto;
  }
}

@media (min-width: @tablet-width) {
  .attachment-effect__block a {
    color: @pink-color;
  }
}

@media (min-width: @tablet-width) {
  .attachment-effect {
    min-height: 300px;
    background-image: url(../img/icon-timer.svg);
    background-repeat: no-repeat;
    background-position: 130px 0;
  }
}

