.contacts {
  position: relative;
}

.contacts__container {
  width: 320px;
  margin: 0 auto;
}

.contacts__contacts-list::after {
  content: "";
  position: absolute;
  bottom: -75px;
  left: 600px;
  background-image: url(../img/bg-triangle-white-footer.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 320px;
  height: 70px;
}

.contacts__text {
  color: @bg-standart-color;
  font-size: 24px;
  text-align: center;
  font-weight: lighter;
}

@media (min-width: @tablet-width) {
  .contacts__text {
    font-size: 40px;
    width: 660px;
    text-align: center;
  }
}
