.download-attachment {
  background-color: @bg-second-color;
  background-image: url(../img/logo-apple.svg),
                    url(../img/logo-android.svg),
                    url(../img/logo-microsoft.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, 50px 0, 100px 0;
}

.download-attachment__button {
  color: @download-button-text;
  text-decoration: none;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  border: 3px solid #ffffff;
  border-radius: 40px;
}

.download-attachment__text {
  color: @download-button-text;
  font-weight: 300;
}


