.download-attachment {
  min-height: 271px;
  padding-top: 48px;
  background-color: @bg-attachment-color;
  background-image: url(../img/logo-apple.svg),
                    url(../img/logo-android.svg),
                    url(../img/logo-microsoft.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 100px 120px, 160px 130px, 220px 130px;
}

.download-attachment__button {
  color: @white-text;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  margin-left: 60px;
  border: 3px solid #ffffff;
  border-radius: 40px;

}

.download-attachment__text {
  color: @white-text;
  font-weight: 300;
  margin-top: 130px;
}


