.reviews-wrapper__like {
  font-size: 12px;
  line-height: 24px;
  color: @pink-color;
  text-transform: uppercase;
  padding-left: 50px;
  background-image: url(../img/icon-heart.svg);
  background-repeat: no-repeat;
  background-position: 18px 0;
}

.reviews-wrapper__author-name {
  padding-left: 18px;
}

.reviews-wrapper__text {
  padding-left: 18px;
}
