.first-block-reviews {
  position: relative;
}

.first-block-reviews::before {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  width: 140px;
  height: 36px;
  background-image: url(../img/panorama-day.jpg);
  background-repeat: no-repeat;
}

.reviews-wrapper__like {
  font-size: 12px;
  line-height: 24px;
  color: @pink-color;
  text-transform: uppercase;
  padding-left: 50px;
  background-image: url(../img/icon-heart.svg);
  background-repeat: no-repeat;
  background-position: 18px 0;
}

.reviews-wrapper__author-name {
  padding-left: 18px;
}

.reviews-wrapper__text {
  padding-left: 18px;
}

@media (min-width: @tablet-width) {
  .first-block-reviews__image {
    width: 660px;
    height: 509px;
  }

  .first-block-reviews::before {
    content: "";
    position: absolute;
    top: 60px;
    right: 20px;
    width: 140px;
    height: 36px;
    background-image: url(../img/panorama-day.jpg);
    background-repeat: no-repeat;
  }
}
