.first-block-reviews {
  position: relative;
}

.first-block-reviews__container {
  width: 280px;
  margin: 0 auto;
}

.first-block-reviews::before {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  width: 140px;
  height: 36px;
  background-image: url(../img/panorama-day.jpg);
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .first-block-reviews__image {
    width: 660px;
    height: 509px;
  }

  .first-block-reviews::before {
    content: "";
    position: absolute;
    top: 60px;
    right: 20px;
    width: 140px;
    height: 36px;
    background-image: url(../img/panorama-day.jpg);
    background-repeat: no-repeat;
  }
}
