.form-white {
  border: none;
  background-color: @white-color;
}

.form-white__text--pink {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @pink-color;
  padding-left: 20px;
}

.form-white__contacts {
  width: 270px;
  height: 59px;
  font-size: 18px;
  line-height: 30px;
  color: @bg-standart-color;
  padding-left: 20px;
  margin-bottom: 40px;
  border: 2px solid @gray-color;
  border-radius: 3px;
}

@media (min-width: @mobile-width) {
  .form-white {
    display: flex;
    flex-direction: column;
  }
}
