legend {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  color: @pink-color;
  padding-left: 20px;
}

.form-white {
  border: none;
  background-color: @white-color;
}

.form-white__text--pink {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  color: @pink-color;
  padding-left: 20px;
}

.form-white__contacts {
  width: 270px;
  height: 59px;
  font-size: 18px;
  line-height: 30px;
  color: @bg-standart-color;
  padding-left: 20px;
  border: 2px solid @gray-color;
  border-radius: 3px;
}

.form-white__comments {
  width: 276px;
  min-height: 197px;
  border-radius: 2px;
  margin-left: 20px;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 0 0 20px;
}


.form-white {
  display: flex;
  flex-direction: column;
}


@media (min-width: @tablet-width) {
  .form-white__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
  }

  .form-white__contacts {
    width: 100%;
  }

  .form-white__text {
    padding-right: 22px;
    text-align: center;
  }

  .form-white {
    margin-bottom: 50px;
    border: 2px solid @gray-color;
  }

  .form-white__comments {
    width: 496px;
    margin: 0 auto;
    border: 2px solid @gray-color;
  }

  .form-white-second.form-white__row {
    width: 496px;
    margin: 0 auto;
  }
}
