.main-form__button {
  color: @white-color;
  background-color: @button-green;
  width: 276px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 15px;
  padding-right: 45px;
  padding-bottom: 15px;
  padding-left: 45px;
  border-radius: 3px;
}

.main-form__text--pink {
  color: @pink-color;
}

.main-form__comments {
  width: 276px;
  min-height: 197px;
  border-radius: 2px;
}

.main-form__text-required {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @bg-standart-color;
  text-transform: uppercase;
}
