.main-form__button {
  color: @white-color;
  background-color: @button-green;
  width: 283px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 15px;
  padding-right: 45px;
  padding-bottom: 15px;
  padding-left: 45px;
  border-radius: 3px;
  margin-left: 20px;
}
&:hover {
  background-color: @button-green-hover;
}
&:active {
  color: @button-green-text;
  background-color: @button-green-active;
}

.main-form__text--pink {
  color: @pink-color;
  text-align: center;
}

.main-form__text-required {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @bg-standart-color;
  text-transform: uppercase;
}

.main-form {
  display: flex;
  flex-direction: column;
}
