.main-header {
  position: relative;
  background-color: @bg-standart-color;
}

.main-header__list {
  .set-list(0, 0, none);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  min-height: 34px;
}

.main-header__logo {
  display: block;
}

.main-header__container {
  position: absolute;
  width: 320px;
  left: ~"calc(50% - 160px)";
}

.main-header__logo-image--burger {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-header__container {
    width: 660px;
    margin-left: 0;
  }

  .main-header__list {
    width: 660px;
    margin: 0 auto;
    min-height: 70px;
    box-sizing: border-box;
  }

  .main-header__logo,
  .main-header__button {
    align-self: center;;
  }

  .main-header__logo-image--burger {
    display: block;
  }

  .main-header__logo-image--close {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    width: 960px;
    margin: 0 auto;
  }

  .main-header__list {
    width: 190px;
    margin: 0;
    padding-left: 0;
  }

  .main-header__button {
    display: none;
  }
}
