.main-navigation {
  display: none;
  width: 100%;
  position: absolute;
  background-color: @bg-standart-color;
}

.main-navigation__list {
  .set-list(0, 0, none);
  display: flex;
  flex-direction: column;
}







