.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 284px;
  background-color: @white-color;
  padding-top: 40px;
  outline: 1px solid red;
}

.main-footer__logo {
  padding-bottom: 40px;
}

@media (max-width: @mobile-width) {
  .main-footer {
    max-height: 284px;
  }
}

