.main-header {
  min-height: 462px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__link {
  color: #ffffff;
  text-decoration: none;
}






