.photo-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 280px;
  margin: 0 auto;
}

.photo-card__item {
  position: relative;
  margin-bottom: 20px;
  background-color: @gray-color;
}

.photo-card__author-name {
  color: @bg-standart-color;
  font-weight: 700;
  padding-left: 18px;
}

.photo-card__times-ago {
  color: @bg-standart-color;
  font-size: 12px;
  font-weight: 100;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-card__text {
  color: @bg-standart-color;
  padding-right: 20px;
  padding-left: 18px;
  padding-bottom: 15px;
  padding: 0 20px 8px 18px;
  margin: 0;
}

.photo-card__like {
  font-size: 12px;
  line-height: 24px;
  color: @pink-color;
  text-transform: uppercase;
  padding-left: 50px;
  padding-bottom: 20px;
  background-image: url(../img/icon-heart.svg);
  background-repeat: no-repeat;
  background-position: 18px 1px;
}

.photo-card__content {
  padding-top: 12px;
  padding-bottom: 20px;
}

.photo-card__image {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .photo-card__item {
    width: 300px;
    padding-left: 0;
  }

  .photo-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 620px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .photo-card__text {
    padding-left: 28px;
  }

  .photo-card__image {
    padding-bottom: 15px;
  }

  .photo-card__content {
    padding-top: 2px;
    padding-bottom: 0;
    min-height: 130px;
  }

  .photo-card__author-name {
    padding-left: 28px;
  }

  .photo-card__like {
    position: absolute;
    bottom: 0;
    display: block;
    font-size: 12px;
    line-height: 24px;
    color: @pink-color;
    text-transform: uppercase;
    padding-left: 28px;
    background-image: url(../img/icon-heart.svg);
    background-repeat: no-repeat;
    background-position: 240px 8px;
  }
}

@media (min-width: @desktop-width) {
  .photo-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .photo-card__content {
    min-height: 125px;
    padding-top: 0;
  }

  .photo-card__item {
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  .photo-card__item:nth-child(5) .photo-card__text {
    padding-bottom: 35px;
  }

  .photo-card__like {
    display: block;
    font-size: 12px;
    line-height: 24px;
    color: @pink-color;
    text-transform: uppercase;
    padding-left: 17px;
    background-image: url(../img/icon-heart.svg);
    background-repeat: no-repeat;
    background-position: 255px 5px;
  }
}
