@media (min-width: @mobile-width) {
  .photo-users {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
  }
}

.photo-users__text-top {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding: 0 30px;
  color: @bg-standart-color;
}

.photo-users__text--bottom {
  font-size: 14px;
  line-height: 30px;
  color: @bg-standart-color;
  text-align: center;
  padding-bottom: 50px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .photo-users {
    width: 660px;
  }
}

@media (min-width: @tablet-width) {
  .photo-users__text-top {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 40px;
  }
}

@media (min-width: @tablet-width) {
  .photo-users__text--bottom {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: @tablet-width) {
  .photo-users__container {
    padding: 0 30px;
  }
}

