.range-controls__toggle:active {
  background-color: @pink-color;
}

@media (min-width: @tablet-width) {
  .range-controls {
    position: relative;
  }

  .range-controls__scale {
    position: absolute;
    top: -44px;
    left: 50px;
    width: 200px;
    height: 2px;
    background-color: @black-color;
  }

  .range-controls__toggle {
    position: absolute;
    top: -52px;
    right: 60px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid @pink-color;
    background-color: @white-color;
  }

  .range-controls--volume {
    position: absolute;
    top: -52px;
    left: 140px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid @pink-color;
    background-color: @white-color;
  }

  .range-controls--fill {
    position: absolute;
    top: -52px;
    left: 70px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid @pink-color;
    background-color: @white-color;
  }
}

@media (min-width: @desktop-width) {
  .range-controls__scale {
    position: absolute;
    top: -44px;
    left: 50px;
    width: 290px;
    height: 2px;
    background-color: @black-color;
  }

  .range-controls__toggle {
    position: absolute;
    top: -52px;
    left: 80px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid @pink-color;
    background-color: @white-color;
  }

  .range-controls--volume {
    position: absolute;
    top: -52px;
    left: 210px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid @pink-color;
    background-color: @white-color;
  }

  .range-controls--fill {
    position: absolute;
    top: -52px;
    left: 280px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid @pink-color;
    background-color: @white-color;
  }
}
