@media (min-width: @tablet-width) {
  .range-controls {
    position: relative;
  }
}

@media (min-width: @tablet-width) {
  .scale {
    position: absolute;
    top: -44px;
    left: 50px;
    width: 200px;
    height: 2px;
    background-color: @black-color;
  }
}

@media (min-width: @tablet-width) {
  .range-toggle {
    position: absolute;
    top: -52px;
    right: 60px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid @pink-color;
    background-color: @white-color;
  }
}

.range-toggle:active {
  background-color: @pink-color;
}

