.reviews-wrapper {
  background-color: @gray-color;
  margin-top: -6px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.reviews-wrapper__author-name {
  font-weight: 700;
  color: @bg-standart-color;
}

.reviews-wrapper__times-ago {
  font-size: 100;
  color: @bg-standart-color;
}

.reviews-wrapper__text {
  color: @bg-standart-color;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .reviews-wrapper {
    padding-top: 20px;
  }

  .reviews-wrapper__text {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .reviews-wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: @desktop-width) {
  .reviews-wrapper {
    width: 940px;
  }
}
