.reviews {
  padding-bottom: 20px;
}

.reviews__container {
  width: 320px;
  margin: 0 auto;
}

.reviews__author-name {
  color: @black-color;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
 }

.reviews__job {
   display: none;
}

.reviews__text {
  color: @bg-standart-color;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .reviews__container {
    width: 620px;
    margin: 0 auto;
  }

.reviews__job {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .reviews__job {
    display: block;
  }
}
