.site-list__item {
  .set-list(0, 0, none);
  padding: 15px 0;
  border-top: 1px solid @gray-color;
  border-bottom: 1px solid @black-color;
}

.site-list__link {
  color: @white-color;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .site-list__link:hover {
    color: @pink-color;
  }

  .site-list__link:active {
    color: @site-list-active;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 620px;
    padding-right: 20px;
  }

  .site-list__item {
    border: none;
  }

  .site-list__link {
    font-size: 18px;
    line-height: 18px;
    font-weight: 200;
    text-transform: none;
  }
}
