.standart {
  min-height: 94px;
  background-color: @bg-standart-color;
}

.standart__class,
.standart__price {
  display: block;
  color: #ffffff;
  text-align: center;
}

.standart__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
}

.standart__text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
