.table-head {
  display: flex;
  flex-direction: row;
  background-color: @white-color;
}

.table-hits {
  width: 840px;
  overflow-x: scroll;
  border-collapse: collapse;
  transform: translateX(-250px);
}

.hits__container {
  width: 100%;
  overflow: hidden;
}

.table-hits__text {
  color: @bg-standart-color;
  line-height: 30px;
}

.table-hits__td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 25%;
  color: @bg-standart-color;
  background-color: @white-color;
  border: 2px solid @lightgray;
}

.table-hits__row:first-child {
  background-color: @bg-standart-color;
}

.table-hits__head {
  color: #ffffff;
  text-align: left;
  border-left: 2px solid @white-color;
  border-right: 2px solid @white-color;
}

.table-hits__head:nth-child(3) {
  position: relative;
}

.table-hits__head:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.png);
  background-repeat: no-repeat;
  background-position: top;
}

.standart__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
}

.table-hits__head {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.table-hits__head span {
  font-weight: 300;
}

.table-hits__yes {
  background-image: url(../img/icon-yes.svg);
  background-repeat: no-repeat;
  background-position: 90% center;
  height: 21px;
}

.table-hits__no {
  background-image: url(../img/icon-no.svg);
  background-repeat: no-repeat;
  background-position: 90% center;
  width: 27px;
  height: 26px;
}

.table-hits__head--first,
.table-hits__td--first {
  display: none;
}

@media (min-width: @tablet-width) {
  .table-hits {
    width: 620px;
    transform: translateX(0);
  }

  .table-hits__head--first,
  .table-hits__td--first {
    display: block;
  }

  .table-hits_td {
    font-size: 0;
  }

  .table-hits_td--first {
    font-size: 14px;
  }
}
