.video {
  background-color: @gray-color;
  padding-left: 20px;
}

.video-buttons {
  border-top: 1px solid #dddfe0;
  padding-bottom: 38px;
  margin-top: 30px;
}

.video__text-bottom {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @bg-standart-color;
}

.video-buttons__btn {
  border: none;
  width: 280px;
  border: 3px solid @pink-color;
  border-radius: 40px;
  background-color: @white-color;
  margin-bottom: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @pink-color;
  cursor: pointer;
}

.video__buttons--cancel {
  border: 3px solid @social-button;
  color: @social-button;
}
