.video {
  background-color: @gray-color;
}

.video-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .set-list(0, 0, none);
  padding: 30px 0;
}

.video-buttons {
  border-top: 1px solid #dddfe0;
  padding-bottom: 38px;
  margin-top: 30px;
}

.video__text-bottom {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @bg-standart-color;
}

.video__btn {
  border: none;
  width: 280px;
  border: 3px solid @pink-color;
  border-radius: 40px;
  background-color: @white-color;
  margin-bottom: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @pink-color;
  cursor: pointer;
}

.video__btn--post:hover {
  color: @white-color;
  background-color: @button-post-hover;
}

.video__btn--post:active {
  color: @button-post-text;
}

.video__btn--cancel {
  border: 3px solid @social-button;
  color: @social-button;
}

.video__btn--cancel:hover {
  border-color: @button-cancel-hover;
  color: @button-cancel-hover;
}

.video__btn--cancel:active {
  color: @button-cancel-text;
  background-color: @button-cancel-hover;
}

@media (min-width: @tablet-width) {
  .video__buttons {
    display: flex;
    flex-direction: column;
  }

  .video__btn {
    width: 260px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .video {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;;
  }

  .video {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
  }
}
