@bg-color: #ffffff;
@bg-attachment-color: #1d2631;
@bg-standart-color: #283645;
@pink-color: #d22856;
@gray-color: #f2f2f2;
@white-text: #ffffff;
@black-color: #000000;
@button-green: #2aab6d;

@main-font: "Open Sans", Arial, sans-serif;




